// This file allows you to override default styles in one central location for easier upgrade and maintenance.
@import "./hepza/owlcarousel/owl.carousel.min.css";
@import "./hepza/owlcarousel/owl.theme.default.min.css";

.autofit-col .autofit-col-expand h2 {
    display: none;
}

.col {
    padding: 0;
    margin: 0;
}

.row {
    padding: 0;
    margin: 0;
}

.portlet {
    margin-bottom: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* NAV MENU */
.hmenu {
    background-color: #ef0000;
    padding-left: 80px;
    padding-right: 80px;
}

.hmenu ul li:hover {
    background-color: #d40000;
}

.hmenu .nav-link {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
}

.hmenu .dropdown .dropdown-menu {
    margin-top: -1px;
}


.hmenu .dropdown .dropdown-menu a {
    background-color: #d40000;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.hmenu .dropdown .dropdown-menu a:hover {
    background-color: rgb(17, 15, 15);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

/* Header */
.hheader {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}

.hheader p {
    font-size: 12px;
    line-height: 0.7;
    font-weight: bold;
    color: #004aa8;
    align-items: center;
    margin: 0;
}

.hheader .div-logo .right .login-btn {
    margin-left: 20px;
    padding-left: 16px;
    padding: 24px;
    width: 130px;
    height: 40px;
    margin-left: 12px;
}

.hheader .login-btn .login-btn-a {
    width: 130px;
    height: 40px;
    line-height: 40px;
    background: red;
    box-shadow: 0px 0px 5px rgb(238 66 70 / 15%);
    color: #fff;
    border-radius: 20px;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 18px;
    padding-left: 18px;
    text-decoration: none;
}

.hbanner {
    position: relative;
    text-align: center;
    color: white;
}

.hbanner .text-on-banner {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background: rgba(7, 67, 117, 0.7);
    line-height: 0.6;
}

.user-avatar-link {
    display: inline-flex;
}

footer .background-bottom {
    background-color: #004196;
}

footer .background {
    background-color: #c2dcff;
}

footer .background-top {
    font-size: 14px;
    font-weight: bold;
    color: #004196;
    line-height: 1;
    margin-left: 3rem !important;
}

footer .background-bottom P {
    color: white;
    font-size: 12px;
    text-align: center;
    align-self: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}

footer .footer-top li a {
    color: #004196;
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    border-left: 1px solid #004196;
}

footer .footer-top li {
    list-style-type: none;
}

footer .footer-top li:first-child a {
    padding-left: 0;
    border-left-width: 0;
}

/** =======================
 * Contenedor Principal - Chuyen muc
 ===========================*/

 #navigation {
    width: 100%;
    font-size: 13px;
}

#navigation ul {
    margin: 0px;
    padding: 0px;
}

ul.top-level {
    background: #004aa8;
}

ul.main-level{
    background: #004aa8;
}

#navigation li {
    list-style: none;
}

ul.top-level li {
    border-width: 0px;
}

#navigation a {
    color: #fff;
    cursor: pointer;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 25px;
    text-indent: 10px;
    text-decoration: none;
    width: 100%;
}

#navigation .main-level .sub-main-level a{
    padding-left: 24px;
    background-color: #003881;
}


#navigation .main-level .sub-main-level a:hover {
    background: #d40000;
    position: relative;
}

#navigation .main-level .sub-main-level li:hover {
    background: #d40000;
    position: relative;
}

ul.sub-level {
    display: none;
}

#navigation .main-level .sub-main-level li:hover .sub-level{
    /* background: #999; */
    border: #fff solid;
    border-width: 1px;
    display: block;
    position: absolute;
    left: 100%;
    top: -1px;
    z-index: 9999;
}

ul.sub-level li {
    border: none;
    float: left;
    width: 16rem;
}

#navigation .sub-level {
    background: gray;
}

#navigation .sub-level .sub-level {
    background: gray;
}


/** =======================
 * Contenedor Principal - Chuyen muc
 ===========================*/

.hside-bar .title {
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(62, 62, 223, 1) 100%);
    color: white;
    height: 28px;
}

.hside-bar ul {
    padding: 0px;
}

.hside-bar ul li {
    list-style-type: none;
}

.hside-bar .title p {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

/* Middle banner news */
.hbanner-news .background-title {
    text-align: center;
    color: white;
    margin-top: 6px;
}

.hbanner-news .text-on-banner {
    bottom: 0px;
    line-height: 0.6;
    align-self: center;
}

.hbanner-news .date-time {
    font-size: 12px;
    color: gray;
    font-weight: bold;
}

.hbanner-news .content-background {
    padding: ($spacer * .5) !important;
    background-color: #91caff;
    color: black;
    font-weight: bold;
    min-height: 10rem;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 16vw;
    object-fit: cover;
}

.hbanner-news .content-background .title {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: justify;
    text-justify: inter-word;
    font-weight: bold;
}

.hbanner-news .content-background .content {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: justify;
    text-justify: inter-word;
    font-weight: normal;
}

.hbanner-news .icon-new {
    max-width: 48px;
    max-height: 48px;
    float: right;
    position: relative;
    margin-top: -52px;
    margin-right: 8px;
}

/* H-News */
.hpage-title-bg {
    float: left;
    width: 100%;
    margin: 8px 0px 0px 0px;
    padding: 0;
    height: 28px;
    background-color: #ef0000;
}

.hpage-title-header {
    float: left;
    width: 50px;
    margin: 0;
    padding: 0;
    margin-left: 40%;
}

.page-title {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 50px;
    position: relative;
}

.page-title-bg {
    float: left;
    width: 100%;
    margin: 8px 0px 0px 0px;
    padding: 0;
    height: 33px;
    background-color: #004aa8;
}

.group-page-text {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.page-title-header {
    float: left;
    width: 50px;
    margin: 0;
    padding: 0;
}

.page-title-middle {
    float: left;
    width: auto;
    height: 42px;
    margin: 0;
    margin-top: 1px;
    padding: 12px 0px 12px 0px;
    font: bold 16px Arial;
    text-transform: uppercase;
    color: White;
    background-image: url('../images/bg-title-middle.png');
    background-repeat: repeat-x;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(255, 51, 51, 1) 0%, rgba(203, 0, 0, 1) 100%);
}

.page-title-end {
    float: left;
    width: 50px;
    margin: 0;
    padding: 0;
}

.page-more-end {
    float: right;
    width: auto;
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: White;
    padding: 12px 10px 10px 0px;
    font-weight: bold;
}

.page-title-img {
    float: left;
    width: 100%;
    margin: 0px;
    height: 42px;
    margin-top: 1px
}

.hnews {
    justify-content: center;
    gap: ($spacer * .5) !important
}

.hnews .hnews-item {
    flex: 30%;

}

.hnews .hnews-item img {
    object-fit: cover;
    width: 100%;
    height: 220px;
}

.hnews .date-time {
    font-size: 12px;
    color: #8f8f8f;
    font-weight: bold;
}

.hnews .content-background {
    padding: ($spacer * .5) !important;
    background-color: #eef7ff;
    color: black;
    font-weight: bold;
    border-top: solid #9ac2e5 2px;
    min-height: 160px;
}

.hnews .content-background .title {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: justify;
    text-justify: inter-word;
    font-weight: bold;
}

.hnews .content-background .content {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: justify;
    text-justify: inter-word;
    font-weight: normal;
}


// Thông tin cần thiết
.ttcb-background {
    border-color: #004196;
    border-width: 1px;
    border-style: solid;
    margin: 2%;
    padding: 0;
}

.ttcb-title {
    background: #004196;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.ttcb-content {
    background: #c7e4ff;
}

.ttcb-content a {
    text-decoration: none;
    cursor: pointer;
}

.ttcb-content .text p {
    font-size: 13px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    color: black;
    border-style: dotted;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 1px;
    margin: 0;
}

.ttcb-content .text p:hover {
    color: #ef0000;
}

// Tin tuyển dụng
.ttd-container {
    // padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    color: black;
    border-style: dotted;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 1px;
    width: 100%;
    border-color: lightgray;
}

.ttd-container :not(:first-child):hover {
    background-color: #ffecec;
}

.ttd-container :not(:first-child):hover .button:hover {
    background-color: #ff0d0d;
    border-color: #ff0d0d;
}

.ttd-container .description :hover {
    background-color: #ffffff;
}

.ttd-item img {
    width: 140px;
    margin-right: 2rem;
    max-height: 80px;
    place-self: center;
}

.ttd-item .title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.ttd-item .sub-title {
    font-size: 13px;
    color: #9e9e9e;
    margin: 0;
    padding-bottom: 0.5rem;
}

.ttd-item {
    width: 100%;
}

.ttd-item div {
    width: 100%;
}

.ttd-item {
    display: inline-flex;
    padding: 0.5rem;
}

.ttd-item-detail {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.ttd-item-detail i {
    color: #5f6062;
    padding-right: 0.5rem;
}

.ttd-item-detail .text {
    color: #5f6062;
    font-size: 12px;
}

.ttd-item-detail .button {
    background-color: #004196;
    color: white;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    text-decoration: none;
    max-width: 120px;
    place-self: end;
    margin-right: 8px;
}

.border-dotted-grey {
    border: dotted;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    width: 100%;
    border-width: 1px;
    border-color: lightgrey;
}

.text-color-red {
    color: #ef0000;
}

.text-color-blue {
    color: #004196;
}

.text-bold {
    font-weight: bold;
}

.text-font-size-13 {
    font-size: 13px;
}


.text-font-size-14 {
    font-size: 14px;
}


.text-font-size-15 {
    font-size: 15px;
}

.change-language {
    margin-right: 1.0rem;
}

.banner-image {
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.search-bar {
    margin-right: 1.5rem;
    width: 25%;
}

.nav .icon {
    display: none;
}

/* Các thiết bị cực nhỏ (điện thoại, 600px trở xuống) */
@media only screen and (max-width: 600px) {
    .nav .nav-item:not(:first-child) {
        display: none;
    }

    .nav .nav-item.icon {
        color: #fff;
        float: right;
        display: block;
        align-self: center;
    }

    .hmenu {
        padding-left: 8px;
        padding-right: 8px;
    }

    html {
        overflow-x: hidden;
    }

    .owl-carousel .owl-item img {
        height: 50vw;
    }

    .hheader {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }

    .search-bar {
        margin-right: 0.5rem;
        width: 55%;
    }

    .change-language {
        margin-right: 0.5rem;
    }

    .address {
        display: none;
    }

    .navbar-brand {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .banner-image {
        height: 400px;
    }

    .hbanner .text-on-banner {
        line-height: 1.5;
    }


    .banner-image {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }

    .hpage-title-header {
        margin-left: 15%;
    }

    .hnews .hnews-item {
        flex: 45%;
    }

    .hnews .content-background .title {
        text-align: start;
    }

    .hnews .content-background .content {
        text-align: start;
    }

    .hcategories{
        display: none;
    }

    footer .background {
        padding-left: 0;
        padding-right: 0;
    }

    footer .footer-top {
        padding-top: 12px;
        padding-left: 12px;
        gap: 6px;
    }

    footer .background-top {
        margin-left: 12px !important;
    }

    footer .background-top img:first-child {
        margin-bottom: 6px;
    }

    footer .footer-map {
        margin: 0;
        padding: 0;
        flex: 0 0 calc(100%);
        max-width: calc(100%);
    }
}

/* Thiết bị nhỏ (máy tính bảng dọc và điện thoại lớn, 600px trở lên) */
@media only screen and (min-width: 600px) {
    .hcategories{
        display: none;
    }
}

/* Thiết bị trung bình (máy tính bảng ngang, 768px trở lên) */
@media only screen and (min-width: 768px) {
    .hcategories{
        display: none;
    }
}

/* Thiết bị lớn (máy tính xách tay / máy tính để bàn, 992px trở lên) */
@media only screen and (min-width: 992px) {}

/* Thiết bị cực lớn (máy tính xách tay và máy tính để bàn lớn, 1200px trở lên) */
@media only screen and (min-width: 1200px) {}